:root {
  /* Brand Colors */
  --color-white: #FFFFFF;
  --color-white-shade: #FFFFFF1A; /* 10% */
  --color-black: #000000;
  --color-black2: #0000001A; /* 10% */
  --color-green: #007A3D;
  --color-green-shade: #007A3D1A;
  --color-red: #CE1126;
  --color-red-shade: #CE11261A;

  /* Basic */
  --color-background: #F6F6F6;
  --color-card: #FFFFFF;
  --color-stroke: #E4E4E4;
  --color-disabled-icon: #B3B3B3;
  --color-available-icon: #F3E8E8;
  --color-card-hover: #fafafa;

  /* Text */
  --text-primary: rgba(0,0,0,0.87);
  --text-secondary: rgba(0,0,0,0.60);
  --text-tertiary: rgba(0,0,0,0.38);
  --text-on-primary: #FFFFFF;

  /* Font */
  --font-family: 'DM Sans', sans-serif;
  --font-0: 48px;
  --font-1: 40px;
  --font-2: 32px;
  --font-3: 28px;
  --font-4: 24px;
  --font-5: 20px;
  --font-6: 16px;
  --font-7: 14px;
  --font-8: 12px;
  --font-9: 10px;

  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;

  /* Spacing */
  --spacing-3xs: 4px;
  --spacing-2xs: 8px;
  --spacing-xs: 16px;
  --spacing-s: 24px;
  --spacing-m: 32px;
  --spacing-l: 40px;
  --spacing-xl: 48px;
  --spacing-2xl: 64px;
  --spacing-3xl: 80px;
  --spacing-4xl: 96px;

  /* Radius */
  --radius-none: 0px;
  --radius-2xs: 4px;
  --radius-xs: 8px;
  --radius-s: 16px;
  --radius-m: 24px;
  --radius-l: 32px;
  --radius-full: 9999px;

  /* Shadows */
  --shadow-card: 0 2px 6px rgba(0,0,0,0.1);
}

.dark-mode {
  --color-background: #121212;
  --color-card: #1E1E1E;
  --text-primary: rgba(255, 255, 255, 0.87);
  --text-secondary: rgba(255, 255, 255, 0.6);
  --text-tertiary: rgba(255, 255, 255, 0.38);
  --text-on-primary: #FFFFFF;
  --color-stroke: #333333;
  --color-card-hover: #2a2a2a;
  --color-disabled-icon: #777777;
  --color-green: #00C26D;
  --color-green-shade: #00C26D1A;
  --color-red: #FF4D4D;
  --color-red-shade: #FF4D4D1A;
  --shadow-card: 0 2px 6px rgba(0, 0, 0, 0.4);
}
