.sidebar {
  width: 220px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-card);
  border-right: 1px solid var(--color-stroke);
  box-shadow: var(--shadow-card);
  padding: var(--spacing-l) var(--spacing-xs);
}

.sidebar-main {
  display: flex;
  flex-direction: column;
  gap: 40px; 
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 34px;
  height: 45px;
}

.brand {
  font-family: var(--font-family);
  font-size: var(--font-5);
  font-weight: var(--font-medium);
  color: var(--text-primary);
}

.brand .highlight {
  color: var(--color-green);
}

.sidebar-divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-green-shade);
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.sidebar-links a {
  display: flex;
  align-items: center;
  gap: var(--spacing-2xs);
  padding: 12px;
  border-radius: var(--radius-2xs);
  color: var(--text-tertiary);
  font-size: var(--font-6);
  font-weight: var(--font-medium);
  font-family: var(--font-family);
  transition: background 0.2s ease, color 0.2s ease;
}

.sidebar-links a img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(0.6);
  transition: filter 0.2s ease;
}

.sidebar-links a:hover {
  background-color: var(--color-green-shade);
  color: var(--color-green);
}

.sidebar-links a:hover img {
  filter: brightness(0) saturate(100%) invert(47%) sepia(91%) saturate(437%) hue-rotate(93deg) brightness(93%) contrast(88%);
}

.active-link {
  background-color: var(--color-green-shade);
  color: var(--text-primary);
  font-weight: var(--font-medium);
  color: var(--color-green) !important;
}

.active-link img {
  filter: brightness(0) saturate(100%) invert(47%) sepia(91%) saturate(437%) hue-rotate(93deg) brightness(93%) contrast(88%) !important;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.mode-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-stroke);
  border-radius: var(--radius-m);
  overflow: hidden;
  width: 100%;
  height: 48px;
  cursor: pointer;
  background-color: var(--color-card);
  transition: all 0.3s ease;
  padding: var(--spacing-3xs);
}

.toggle-option {
  flex: 1;
  height: 40px;
  border-radius: var(--radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2xs);
  font-size: var(--font-6);
  font-weight: var(--font-medium);
  font-family: var(--font-family);
  color: var(--text-primary);
  transition: all 0.3s ease;
}

.toggle-option.active {
  background-color: var(--color-black);
  color: var(--color-white);
  padding:var(--radius-s) ;
}

.mode-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  filter: brightness(0);
  transition: filter 0.3s ease;
}

.toggle-option.active .mode-icon {
  filter: brightness(0) invert(1);
}