.sidebar {
  width: 220px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-card);
  border-right: 1px solid var(--color-stroke);
  padding: 20px;
  box-shadow: var(--shadow-card);
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 18px;
  color: var(--text-primary);
}

.subtitle {
  font-size: 12px;
  color: var(--text-secondary);
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 350px;
}

.sidebar-links a {
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 6px;
  color: var(--text-primary);
  transition: background 0.2s ease, color 0.2s ease;
}

.sidebar-links a img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.sidebar-links a:hover {
  color: var(--color-green);
  background: var(--color-green-shade);
}

.active-link {
  color: var(--color-green);
  font-weight: bold;
  background-color: var(--color-green-shade);
  border-radius: 6px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.active-link .icon {
  filter: invert(28%) sepia(68%) saturate(1200%) hue-rotate(95deg)
    brightness(50%) contrast(95%);
}

.sidebar-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-stroke);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: var(--color-card);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--color-green);
}

input:checked + .slider:before {
  transform: translateX(18px);
}