.recent-lessons {
  background: #ffffff;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.recent-lessons__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-lessons__title {
  color: rgba(0, 0, 0, 0.87);
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}
.recent-lessons__see-all {
  color: rgba(0, 0, 0, 0.38);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.recent-lessons__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.recent-lessons__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.recent-lessons__lesson-title {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
}

.recent-lessons__lesson-desc {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.recent-lessons__item:hover {
  background-color: var(--color-background);
  border-radius: var(--radius-xs);
}

.recent-lessons__divider {
  width: 100%;
  height: 1px;
  background: #e4e4e4;
}

.recent-lessons__empty {
  text-align: center;
  color: rgba(0, 0, 0, 0.38);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 24px 0;
}
