@import "./themes/theme.css";

.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-background);
}

.sidebar {
  width: 220px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.content-container {
  margin-left: 220px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 220px);
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px 30px;
  background-color: var(--color-background);
  overflow-y: auto;
  box-sizing: border-box;
}