.vocab-page {
  display: flex;
  width: 100%;
  height: 100%;
}

.vocab-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.toolbar {
 margin-bottom: 24px;
}

.word-count {
  color: var(--text-secondary);
  font-size: var(--font-6);
  font-weight: var(--font-bold);
  margin-bottom: 16px;
}

.vocab-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: var(--spacing-s);
  align-content: start;
  flex-grow: 1;
  margin-bottom: 24px;
}